<!DOCTYPE html>
<html>
    <head>
        <title>Spaces | MakersBnB</title>
        <link rel="stylesheet" href="/style_new.css" >
    </head>
    <body>
        <div class="nav">
            <div class="nav-tab logo"><p>MakersBnB</p></div>
            <div class="nav-tab pages">
                <p><a href="/spaces">Spaces</a></p>
                <p><a href="/guest_portal">Guests Portal</a></p>
                <p><a href="/host_portal">Hosts Portal</a></p>
            </div>
            <div class="nav-tab account">
            <% if @current_user.nil? %>
                <p><a href="/login">Login</a> • <a href="/register">Register</a></p>
            <% else %>
                <p>You are logged in.</p>
            <% end %>
            </div>
        </div>
        <div class="wrapper">
            <h1>Welcome to MakersBnB!</h1>
            <fieldset>
                <p>Select the date you would like to see listings for.</p>
                <form action="/spaces" method="get">
                    <input name="selected_date" type="date" placeholder="dd/mm/yyyy" min=01/11/2022 required>
                    <input type="submit">
                </form>
            </fieldset>
            <% if @all_spaces.any? %>
                <p>Here are all the listings for <em><%= @selected_date %></em>.</p>
                <ul class="spaces-list">
                    <% @all_spaces.each do |space| %>
                        <li>
                            <div class="space-item">
                                <p>Name: <%= space.name %></p>
                                <p>Description: <%= space.description %></p>
                                <p>Price: £<%= space.price %></p>
                                <form action="/book" method="post">
                                    <input name="space_id" value="<%= space.id %>" type="hidden">
                                    <input name="selected_date" value="<%= @selected_date %>" type="text" readonly>
                                    <input type="submit" value="Book this space">
                                </form>
                            </div>
                        </li>
                    <% end %>
                </ul>
            <% end %>
        </div>
    </body>
</html>
