<!DOCTYPE html>
<html>
    <head>
        <title>Spaces | MakersBnB</title>
        <link rel="stylesheet" href="/style.css" >
    </head>
    <body>
        <h1>Welcome to MakersBnB!</h1>
            <fieldset>
                <p>Select the date you would like to see listings for.</p>
                <form action="/spaces" method="get">
                    <input name="selected_date" type="date" placeholder="dd/mm/yyyy" min=01/11/2022 required>
                    <input type="submit">
                </form>
            </fieldset>
            <% if @all_spaces.any? %>
                <p>Here are all the listings for <em><%= @selected_date %></em>.</p>
                <ul class="spaces-list">
                    <% @all_spaces.each do |space| %>
                        <li>
                            <div class="space-item">
                                <p>Name: <%= space.name %></p>
                                <p>Description: <%= space.description %></p>
                                <p>Price: £<%= space.price %></p>
                                <form action="/book" method="post">
                                    <input name="space_id" value="<%= space.id %>" type="hidden">
                                    <input name="selected_date" value="<%= @selected_date %>" type="text" readonly>
                                    <input type="submit" value="Book this space">
                                </form>
                            </div>
                        </li>
                    <% end %>
                </ul>
            <% end %>

    </body>
</html>
